@import '~antd/dist/antd.css';
@tailwind base;
@tailwind components;
@tailwind utilities;


.bg_home{
    background-image: linear-gradient(to right bottom, #3c3d31, #3c392d, #3c352b, #3b3129, #3a2d28, #352825, #302423, #2a2020, #211a1a, #191414, #0f0b0c, #000000);
}

.glass{
    background-color: #ffffff44;
    backdrop-filter: blur(32px);
    -webkit-backdrop-filter: blur(32px);
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }